@font-face {
    font-family: 'salome_decoregular';
    src:url('salome_deco-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'salomeitalic';
    src:url('salome_italic-webfont.ttf')
}

@font-face {
    font-family: 'Satoshi-Variable';
    src:url('../fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF8F2;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: 'salome_decoregular';
    src:url('salome_deco-webfont.ttf');
    font-weight: normal;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    font-size: clamp(48px, 7.813vw, 150px);
    color: #FFF8F2;

}

h2 {
    font-family: 'salomeitalic';
    font-weight: normal;
    font-style: normal;
    font-size: clamp(40px, 4.167vw, 80px);
    padding: 0px;
    margin: 0px;
    line-height: .9;
    color: #242325;
}

p {
    font-family: 'Satoshi-Variable';
    font-weight: medium;
    font-size: clamp(14px, 1.302vw, 25px);
    color:#242325;
    margin: 0;
}

nav {
    position: fixed;
    right: 0%;
    top:0%;
    bottom:0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15.72%;
    height: 95vh;
    border-left: #242325 solid;
    padding: clamp(20px, 2.083vw, 40px);
}

    .nav-links {
        display: flex;
        flex-direction: column;
    }

        .nav-logo {
        width: 100%;
        margin-bottom: 80px;
        }

        .nav-top {
        display: flex;
        margin-bottom: 40px;
        }

        .arrow-down {
        margin-left: 20px;
        }

        a {
            font-family: 'Satoshi-Variable';
            font-weight: medium;
            font-size: clamp(14px, 1.302vw, 25px);
            color:#242325;
            margin-bottom: 20px;
            text-decoration: none;
        }
    
    button {
        width: 100%;
        height: 76px;
        border-radius: 50px;
        border-style: none;
        font-family: 'Satoshi-Variable';
        font-weight: medium;
        font-size: clamp(14px, 1.302vw, 30px);
        color:#FFF8F2;
        background-color: #242325;
        margin-top: 40px;
        

    }
header {
    display: flex;
    height: clamp(692px, 52.083vw, 1000px);
    width: 73.5%;
    padding: clamp(20px, 2.083vw, 40px);
    
}

    .header-left {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 45.12%;
        text-align: center;
        border: 2px solid #242325;
        border-radius: 3.125em;
    }

        .margin {
            margin: clamp(20px, 2.083vw, 40px);
        }

        .moving-text-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #242325;
            height: clamp(35px, 3.958vw, 75px);
        }

        .orange-star {
            width: clamp(18px, 1.667vw, 32px);
            padding: clamp(10px, 1.042vw, 20px) 0.625em;
        }

        .profile-img-wrapper {
            padding: clamp(20px, 2.083vw, 40px);
            width: clamp(310px, 32.917vw, 632px);
            height: clamp(459px, 26.563vw, 510px);
        }

        .profile-img {
            width: 100%;
            height: 90%;
            object-fit: cover;
            object-position: top;
            border-radius: 3.125em;
        }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 54.13%;
        height: 100%;
        padding: 0 clamp(20px, 2.083vw, 40px);
     }

        .about-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            width: 100%;
            border: 2px #242325 solid;
            border-radius: 3.125em;
            padding: clamp(20px, 2.083vw, 40px);

        }

            .black-star {
                width: clamp(53px, 4.115vw, 79px);
                margin-right: clamp(20px, 2.083vw, 40px);
            }

            .white {
                color:#FFF8F2
            }

        .scroll-button-wrapper {
            display: flex;
            justify-content: end;
            width: 100%
        }

            .scroll-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: clamp(150px, 11.406vw, 219px);
                height: clamp(150px, 11.406vw, 219px);
                background-image: url("exports/scroll-button.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }

                .orange-arrow {
                    width: clamp(37px, 2.969vw, 57px)
                }

    .transition {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        background-color: black;
        margin: clamp(20px, 2.083vw, 40px) 0px;
        text-align: center;
        height: 100vh;
        border-radius: clamp(30px, 6.250vw, 120px);
        
    }

main {
    display: flex;
    width: 76%;
    padding: clamp(20px, 2.083vw, 40px);
    background-color: #242325;
    
}

    .project-1 {
        background-color: #F2F3AE;
        width: 58.51%;
        padding: clamp(20px, 2.083vw, 40px);
        margin-right: clamp(20px, 2.083vw, 40px);
        border-radius: 50px;


        
    }

    .project-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #F3AEF2;
        width: 38.88%;
        padding: clamp(20px, 2.083vw, 40px);
        border-radius: 50px;
        overflow: hidden;

    }

        .project-text1 {
            margin-bottom: clamp(20px, 2.083vw, 40px);
            width: 86%;

        }

        .project-text2 {
            margin-bottom: clamp(20px, 2.083vw, 40px);
            width: 77%;
        }

            .margin-buttom {
                margin-bottom: clamp(20px, 2.083vw, 40px);

            }
        
        .project-visual {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

            .img-wrapper {
                width: 100%;
                overflow: hidden;
            }

                .project-img1 {
                    width: 100%;
                    
                }

            .project-img2 {
                width: 100%;
            }

            .arrow-up-left {
                width: clamp(25px, 4.167vw, 80px);
                margin-left: clamp(20px, 2.083vw, 40px);

            }

            .arrow-up-right {
                width: clamp(25px, 4.167vw, 80px);
                margin-right: clamp(20px, 2.083vw, 40px);

            }





